.puntuacion {
    @include breakpoint(desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 85px;
    }
    &_titles {
        color: var(--text-title);
        margin-bottom: 40px;
        margin-top: 48px;

        @include breakpoint(desktop) {
            margin: 0;

            h1 {
                margin: 0;
            }
        }
    }

    &_container {
        background-color: var(--bg-categoria);
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 12px;

        @include breakpoint(tablet) {
            padding: 48px;
            border-radius: 24px;
        }

        &-nota {
            color: var(--text-subtitle);
            margin: 0;
        }

        &-total {
            color: var(--text-subtitle);
            margin: 0;
        }
    }

    &_button {
        @include button;
        margin-top: 16px;
        cursor: pointer;
    }
}